<%= form_for(@team) do |f| %>
  <% if @team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
      <% @team.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :company, "Company/Team Name" %>
    <%= f.text_field :company %>
  </div><br />
  <div class="field">
    <%= f.label :company_type %>
    <%= f.select(:company_type, ['Public Agency', 'Business/Non-Profit', 'Bicycle-related Business', 'K-12 School', 'College/University'],
 				{:prompt => 'Select One'}) %>
  </div><br />
  <div class="field">
    <%= f.label :size, "Number of Employees" %>
    <%= f.text_field :size %>
  </div><br />

  <% if @team.id != nil  %>
	<% logger.debug "Team id: #{@team.id}"  %>
  <div class="field">
    <%= f.label :leader, "Team Leader" %>
    <%= f.collection_select(:leader, @team.users, :id, :full_name) %>
  </div><br />
  <% end  %>

  <div class="field">
    <%= f.label :address_line_1, "Mailing Address Line 1" %>
    <%= f.text_field :address_line_1 %>
  </div><br />
  <div class="field">
    <%= f.label :address_line_2, "Mailing Address Line 2" %>
    <%= f.text_field :address_line_2 %>
  </div><br />
  <div class="field">
    <%= f.label :city %>
    <%= f.text_field :city %>
  </div><br />
  <div class="field">
    <%= f.label :state, "State" %>
    <%= f.select(:state, ['IL', 'IN', 'WI']) %>
  </div><br />
  <div class="field">
    <%= f.label :zip, "Zip Code" %>
    <%= f.text_field :zip %>
  </div><br />
  <div class="field">
    <%= f.label :phone, "Team Leader Phone Number (xxx-xxx-xxx)" %>
    <%= f.text_field :phone %>
  </div><br />
  <div class="field" id="shirt_size">
    <%= f.label :shirt_size, "Free T-Shirt Size (for Team Leader)" %>
    <%= f.select(:shirt_size, ['No Thanks', 'XXL', 'XL', 'Large', 'Medium', 'Small']) %>
  </div><br />
  <div class="field">
    <%= f.label :website, "Company Website" %>
    <%= f.text_field :website %>
  </div><br />
  <div class="field">
    <%= f.label :twitter_handle, "Company Twitter Handle" %>
		<% if @team.twitter_handle == nil || @team.twitter_handle == "" %>
    		<%= f.text_field :twitter_handle, :value => '@' %>
		<% else %>
    		<%= f.text_field :twitter_handle %>
		<% end %>
  </div>
<br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
