<p id="notice"><%= notice %></p>

<h1>Team Registration</h1>
<br>

<h2>Meet The Competing Teams!</h2>
<br>

<p><strong>Search for a team here:</strong></p>

<%= form_tag teams_url, :method => 'get' do %>
<p>
<%= text_field_tag :search, params[:search]%>
<%= submit_tag "Search", :name => nil %>
</p>
<% end %>

<% if logged_in? && get_user.team == nil %>
<p><strong>Can't Find Your Company? <%= link_to '+ Add a New Team', new_team_path %></strong></p>
<% elsif logged_in? && isadmin? %>
<p><strong> <%= link_to '+Add Another Team (Admins Only)', new_team_path %></strong></p>
<% elsif !logged_in? %>
<p><strong>Can't Find Your Company? <%= link_to '+ Add a New Team', new_team_path %></strong></p>
<% end %>

<table class="table table-striped table-bordered table-condensed">
  <tr>
    <th>Company</th>
    <th>Company type</th>
    <th>Size</th>
    <th>Size Range</th>
    <th>Twitter</th>

  </tr>

<% @teams.each do |team| %>
  <tr>
    <td><%= link_to "#{team.company}", team %></td>
    <td><%= team.company_type %></td>
    <td><%= team.size %></td>
    <td><%= team.company_size_range %></td>
		<% if team.twitter_handle != nil %>
    <td><%= link_to "#{team.twitter_handle}", "https://twitter.com/#!/#{team.twitter_handle}", :target => "_blank" %></td>
		<% end %>
  </tr>
<% end %>
</table>



<iframe src="http://www.facebook.com/plugins/facepile.php? 
app_id={299340683464316}" scrolling="no" frameborder="0" style="border:none;  
overflow:hidden; width:200px;" allowTransparency="true"></iframe>

<br />


