<h1>Competing Teams</h1>


<p><strong>Search for your company here:</strong></p>
<%= form_tag teams_url, :method => 'get' do %>
<p>
<%= text_field_tag :search, params[:search]%>
<%= submit_tag "Search", :name => nil %>
</p>
<% end %>


<table>
  <tr>
    <th>Company</th>
    <th>Company type</th>
    <th>Size</th>
    <th>Website</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @teams.each do |team| %>
  <tr>
    <td><%= team.company %></td>
    <td><%= team.company_type %></td>
    <td><%= team.size %></td>
    <td><%= team.website %></td>
    <td><%= link_to 'Show', team %></td>
    <td><%= link_to 'Edit', edit_team_path(team) %></td>
    <td><%= link_to 'Destroy', team, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Team', new_team_path %>
