<p id="notice"><%= notice %></p>

<h2>Team <%= link_to "#{@team.company}", @team.website, :target => "_blank" %></h2>
  
<p>
  <b>Company type:</b>
  <%= @team.company_type %>
</p>

<p>
  <b>Size:</b>
  <%= @team.size %>
</p>

<p>
  <b>Size Category:</b>
  <%= @team.company_size_range %>
</p>

<p>
  <b>Team Members:</b>
</p>
	 
	<table>
		<tr>
		<th> Name </th>
		<th> Team Leader </th>
	 	<th> Self-Described Biker Type </th>
		<th> Commutes </th>
		<th> Current Mileage </th>
		</tr>
		<% @team.users.each do |user| %>
		<tr>
		<td> <%= link_to "#{user.fname}" " #{user.lname}", user_url(user.id)  %> </td>
		<% if user.isleader == true %>
		<td> Y </td>		
		<% else %>
		<td>  </td>	
		<% end %>	
		<td> <%= user.bikerclass %> </td>
		<td> <%= user.commutes.count %> </td>
		<td> <%= user.mileage %> </td>		
		<td> <%= link_to "View Commutes (#{user.commutes.count})", user_commutes_url(user.id) %> </td>		
		<% if logged_in? %>
			<% if teamleader? ||  get_user == user %>
			<td> <%= link_to "Add Commute", new_commute_url(:user_id => user.id) %> </td>				
			<% end %>	
		<% end %>	
		</tr>
  <% end %>
	</table>
	
<br>

	<p>
	  <b>Total Team Miles:</b>
	  <%= @team.mileage %>
	</p>
	<p>
	  <b>Total Team Commutes:</b>
	  <%= @team.commutes.count %>
	</p>
	<p>
	  <b>Total Team Commuters:</b>
	  <%= @team.team_commuters %>
	</p>
	<p>
	  <b>Number of Employees:</b>
	  <%= @team.size %>
	</p>
	<p>
	  <b>Team Participation Rate:</b>
	  <%= @team.team_participation %> %
	</p>

<br>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
