<p id="notice"><%= notice %></p>

<h2>Team <%=  @team.company  %></h2>
<p><b><%= mail_to nil, "+ Invite more co-workers to join this team!",
						:subject => "Sign Up for our Bike Commuter Challenge team!",
						:body => "Hello Team #{@team.company}!  I just signed up for our Bike Commuter Challenge Team! Join our team by clicking this link.  http://www.bike2workweek.com/users/new?team_id=#{@team.id}" %></b></p>

<div id='fb-share-button'> </div>

<div id='fb-root'></div>
    <script src='http://connect.facebook.net/en_US/all.js'></script>
    <p><a onclick='postToFeed(); return false;'> <%= image_tag("facebook_share_button.jpg", :width => '60') %></a>


    <script> 
       FB.init({appId: 204090116364336, status: true, cookie: true});

      function postToFeed() {

        // calling the API ...
        var obj = {
          method: 'feed',
          link: '<%= url_for team_url %>',
          picture: 'http://activetrans.org/htmlemail/ata.png',
          name: 'Bike To Work Week stats for Team <%= @team.company  %>',
          caption: 'Active Transportation Alliance Commuter Challenge',
          description: 'Sign up your company to compete!',
		  message: 'Check out my company on Bike To Work Week'
        };

        function callback(response) {
          document.getElementById('msg').innerHTML = "Post ID: " + response['post_id'];
        }

        FB.ui(obj, callback);
      }

    </script>

	<a href="https://twitter.com/share" class="twitter-share-button" data-text="Check out our Bike To Work Week Team!" data-count="none">Tweet</a>
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></p>
	    <p id='msg'></p>

<% if isadmin?  %>
	<%= link_to 'Edit Team', edit_team_path(@team) %> | <%= link_to 'Delete Team', team_url(@team), :method => 'delete', :confirm => "Hello, Admin User. Are you sure you want to delete Team #{@team.company}? #{@team.users.count} user(s) will have their Team deleted, but their Commutes will not be removed.

If you proceed, when these #{@team.users.count} user(s) add themselves to the correct team, their commutes will be attributed to that team the next time stats are updated." %>
<% elsif is_the_team_leader?  %>
	<%= link_to 'Edit Team', edit_team_path(@team) %>
<% end %>

<br>

<p>
  <b>Company type:</b>
  <%= @team.company_type %>; 
  <b>Size:</b>
  <%= @team.size %>; 
  <b>Size Range:</b>
  <%= @team.company_size_range %>
</p>
<p>
<% if @team.website != "" &&  @team.website != nil %>
	<%= link_to "#{@team.website}", @team.website, :target => "_blank" %> |
<% end  %>
<% if @team.twitter_handle != "" &&  @team.twitter_handle != nil %>
<%= link_to "#{@team.twitter_handle}", "https://twitter.com/#!/#{@team.twitter_handle}", :target => "_blank" %> | 
<% end  %>
Team Leader: <%= link_to "#{@team_leader.full_name}", user_url(@team.leader) %>
</p>

<% if @award != nil && after_btww_start? %>
	<h3><%=  @team.company  %> Stats:</h3>
	<p> 
	  <b>Commuters:</b>
	  <%= @team.commuters %>; 
	  <b>Participation:</b>
	  <%= @team.team_participation %>%;
	  <b>Mileage:</b>
	  <%= @team.mileage %>;
	  <b># Commutes:</b>
	  <%= @team.total_commutes %>;
	  <b># Newbies:</b>
	  <%= @team.newbies %>;
	</p>

	<p>
	<%= button_to "Log Your Commute for #{@team.company}", new_commute_url, :method => 'get' %>

			<%= button_to "See #{@team.company} in the Scoreboards", award_url(@award), :method => 'get' %> </strong>
	</p>
	<% end  %>
<p>
<br>
	<% if logged_in? != true %>
  <h3>Team Members:</h3> <p><b>Work for <%= "#{@team.company}" %>?  <%= link_to 'Join this team!', new_user_url(:team_id => "#{@team.id}") %></b></p>
	<% elsif logged_in? && get_user.team_id == nil %>
		  <b>Team Members: (Is this your Team? <%= link_to "Add it to your profile)", edit_user_url(get_user, :team_id => "#{@team.id}") %></b>	
	<% else %>
  <b>Team Members:</b>	
	<% end %>
</p>
	 
	<p><b><%= mail_to nil, "+ Invite more co-workers to join this team!",
							:subject => "Sign Up for our Bike Commuter Challenge team!",
							:body => "Hello Team #{@team.company}!  I just signed up for our Bike Commuter Challenge Team! Join our team by clicking this link.  http://www.bike2workweek.com/users/new?team_id=#{@team.id}" %></b></p>
	
	<table class="table table-striped table-bordered table-condensed">

		<tr>
		<th> Name </th>
		<th> Team Leader </th>		
		<th> Newbie </th>		
	 	<th> Primary Biker Type </th>
		<th> Total Logged Commutes </th>
		<th> Commutes during Commuter Challenge </th>
		<th> Commuter Challenge Mileage </th>
		</tr>
		<% @team.users.each do |user| %>
		<tr>
		<td> <%= link_to "#{user.fname}" " #{user.lname}", user_url(user.id)  %> </td>
		<% if user.id == @team.leader %>
		<td> Y </td>		
		<% else %>
		<td>  </td>	
		<% end %>	
		<% if user.isnewbie == true %>
		<td> Y </td>		
		<% else %>
		<td>  </td>	
		<% end %>	
		<td> <%= user.bikerclass %> </td>
		<td> <%= user.commutes.count %> </td>
		<td> <%= user.commutes_that_count.count %> </td>
		<td> <%= user.mileage %> </td>		
		<td> <%= link_to "View Commutes (#{user.commutes.count})", user_url(user.id) %> </td>		
		</tr>
  <% end %>
	</table>

<br>
