<p id="notice"><%= notice %></p>

<h2>Team <%=  @team.company  %></h2>

<% if isadmin?  %>
	<%= link_to '(Edit Team)', edit_team_path(@team) %> | <%= link_to 'Delete Team', team_url(@team), :method => 'delete', :confirm => "Hello, Admin User. Are you sure you want to delete Team #{@team.company}? #{@team.users.count} user(s) will have their Team deleted, but their Commutes will not be removed.

If you proceed, when these #{@team.users.count} user(s) add themselves to the correct team, their commutes will be attributed to that team the next time stats are updated." %>
<% elsif is_the_team_leader?  %>
	<%= link_to '(Edit Team)', edit_team_path(@team) %>
<% end %>

<p>
<% if @team.website != "" %>
	<%= link_to "#{@team.website}", @team.website, :target => "_blank" %> |
<% end  %>
<% if @team.twitter_handle != "" %>
<%= link_to "#{@team.twitter_handle}", "https://twitter.com/#!/#{@team.twitter_handle}", :target => "_blank" %> | 
<% end  %>
Team Leader: <%= link_to "#{@team_leader.full_name}", user_url(@team.leader) %>
</p>

<%= button_to "Log Your Commute for This Team", new_commute_url, :method => 'get' %>

<p>
  <b>Company type:</b>
  <%= @team.company_type %>; 
  <b>Size:</b>
  <%= @team.size %>; 
  <b>Size Range:</b>
  <%= @team.company_size_range %>
</p>



<br>

<h3><%=  @team.company  %> Stats:</h3>


<p> 
  <b>Commuters:</b>
  <%= @team.commuters %>; 
  <b>Participation:</b>
  <%= @team.team_participation %>%;
  <b>Mileage:</b>
  <%= @team.mileage %>;
  <b># Commutes:</b>
  <%= @team.total_commutes %>;
  <b># Newbies:</b>
  <%= @team.newbies %>;
</p>
<div id='fb-share-button'> </div>

<div id='fb-root'></div>
    <script src='http://connect.facebook.net/en_US/all.js'></script>
    <p><a onclick='postToFeed(); return false;'> <%= image_tag("facebook_share_button.jpg", :width => '60') %></a>


    <script> 
       FB.init({appId: 204090116364336, status: true, cookie: true});

      function postToFeed() {

        // calling the API ...
        var obj = {
          method: 'feed',
          link: '<%= url_for award_url %>',
          picture: 'http://activetrans.org/htmlemail/ata.png',
          name: 'Bike To Work Week stats for Team <%= @team.company  %>',
          caption: 'Active Transportation Alliance Commuter Challenge',
          description: 'Sign up your company to compete!',
		  message: 'Check out my company on Bike To Work Week'
        };

        function callback(response) {
          document.getElementById('msg').innerHTML = "Post ID: " + response['post_id'];
        }

        FB.ui(obj, callback);
      }

    </script>

	<a href="https://twitter.com/share" class="twitter-share-button" data-text="Check out our Bike To Work Week Scoreboard!" data-count="none">Tweet</a>
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></p>
	    <p id='msg'></p>

<p><strong>HOW DO WE STACK UP AGAINST THE COMPETITION?</strong>
</p>
<div id= "scoreboards" >
<p><strong>View Scoreboards:
	<% if @award_list != nil %>
		<% @award_list.each do |award| %>
			<%= link_to "#{award.goal}", award_url(award.id) %> | 
		<% end  %></strong>
	<% end  %>
</p>
</dev>
<br>
<p>
	<% if logged_in? != true %>
  <b>Team Members: <%= link_to '(Join This Team!)', new_user_url(:team_id => "#{@team.id}") %></b>
	<% elsif logged_in? && get_user.team_id == nil %>
		  <b>Team Members: (Is this your Team? <%= link_to "Add it to your profile)", edit_user_url(get_user, :team_id => "#{@team.id}") %></b>	
	<% else %>
  <b>Team Members:</b>	
	<% end %>
</p>
	 
	
	
	<table class="table table-striped table-bordered table-condensed">

		<tr>
		<th> Name </th>
		<th> Team Leader </th>		
		<th> Newbie </th>		
	 	<th> Self-Described Biker Type </th>
		<th> Logged Commutes </th>
		<th> Commutes during Commuter Challenge </th>
		<th> BTWW Mileage </th>
		</tr>
		<% @team.users.each do |user| %>
		<tr>
		<td> <%= link_to "#{user.fname}" " #{user.lname}", user_url(user.id)  %> </td>
		<% if user.id == @team.leader %>
		<td> Y </td>		
		<% else %>
		<td>  </td>	
		<% end %>	
		<% if user.isnewbie == true %>
		<td> Y </td>		
		<% else %>
		<td>  </td>	
		<% end %>	
		<td> <%= user.bikerclass %> </td>
		<td> <%= user.commutes.count %> </td>
		<td> <%= user.commutes_that_count.count %> </td>
		<td> <%= user.mileage %> </td>		
		<td> <%= link_to "View Commutes (#{user.commutes.count})", user_url(user.id) %> </td>		
		</tr>
  <% end %>
	</table>
	
<br>
