<p id="notice"><%= notice %></p>

<h1>Forgot Your Password?</h1>
<br>

<h3><b>Past Team Leaders:</b></h3>
<p><b>Bike Commuter Challenge has a new registration system for 2012, and you must create a new account for this year.</b></p>
<%= button_to "Create My New Account",  new_user_url, :method => 'get' %>
<br>

<h3><b>Still need your password reset?</b></h3>
<br>
<p><b>1. If you created your account using your Facebook login:</b></p>
<p> Simply login using Facebook again.</p>
<%= link_to image_tag("login_fb.jpeg", :border=>0), '/auth/facebook' %>
<br>
<br>
<br>
<p><b>2. If you are not using Facebook, and just need your password reset:</b></p>
<ul>
<li> <%= mail_to "commuter@activetrans.org", "Request Password Reset via email",
						:subject => "Bike Commuter Challenge password reset request",
						:body => "Hello!  I need my password reset for Bike Commuter Challenge.

My name is <<ENTER YOUR NAME HERE>>.
My company is <<ENTER YOUR COMPANY/TEAM NAME HERE>>.


Please let me know when my password has been reset.

Thank you," %></li>
<li>OR contact Rebecca Dill at Active Transportation Alliance: 312.427.3325 x236 M-F 8 am to 5 pm</li>
</ul>

<br>
<strong>Don't have an account yet?</strong> <%= button_to "Create an Account",  new_user_url, :method => 'get' %>