<p id="notice"><%= notice %></p>

<h1>Bike To Work Week 2012</h1>
<br>

<p><strong>Bike2WorkWeek.com is the place to go for Bike To Work Week and Smart Commuting competitions all year long.</strong></p>

<p>Our Mission: </p>


<ul>
<li>Empower resource-strapped municipalities and local cycling and environmental advocacy organizations to provide a fun and interactive Bike To Work Week or Smart Commute Week competition
</li>
<li>Motivate local businesses to participate for good PR and a healthy workforce</li>
<li>Help Team Leaders recruit co-workers to join in the fun</li>
<li>Provide dynamic scoreboards, social sharing and mapping tools for commuters that go the distance by bike, foot, public transit and car pooling.</li>
</ul>
<br>
<br>
<div id='login_buttons'>
<% if session[:user_id] %>
	<% if User.find_by_id(session[:user_id]).provider != nil %>
		<li><%= link_to "#{User.find(session[:user_id]).fname} (logged in via #{User.find(session[:user_id]).provider})", user_url(session[:user_id])%> </li>
		<li><%= link_to "Sign Out", logout_url %></li>
	<% else %>
		<li><%= link_to "#{User.find(session[:user_id]).fname}", user_url(session[:user_id])%> </li>
		<li><%= link_to "Sign Out", logout_url %></li>
	<% end %>
<% else %>
<%= link_to "Sign In", new_session_url %> | <%= link_to "Sign Up", new_user_url  %>
<p>OR</p>
<%= link_to image_tag("login_fb.jpeg", :border=>0), '/auth/facebook' %> </li>

</div>
<% end %>

<br>

<br>