<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :fname, "First Name" %><br />
    <%= f.text_field :fname %>
  </div>
  <div class="field">
    <%= f.label :lname, "Last Name" %><br />
    <%= f.text_field :lname %>
  </div>
  <div class="field">
    <%= f.label :email, "Email Address" %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password, "Password" %><br />
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation, "Password Confirmation" %><br />
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="field">
    <%= f.label :team_id, "Team (Required)" %><br />
    <%= f.collection_select(:team_id, Team.all, :id, :company, :prompt => "Select your Company/Department") %>
	Not seeing your company? <%= link_to "Create a new team", new_team_url %>
  </div>
<br />
  <div class="field">
    <%= f.label :isleader, "Are you the Team Leader?" %>
    <%= f.check_box :isleader %>
  </div>
<br />
  <div class="field">
    <%= f.label :isnewbie, "First Time Biking to Work?" %>
    <%= f.check_box :isnewbie %>
  </div>
<br />
  <div class="field">
    <%= f.label :bikerclass, "Primary Biker Type" %>
    <%= f.select(:bikerclass, ['Recreational', 'Commuter', 'Roadie', 'BMX', 'MTB', 'All of the Above'], :prompt => "Select One") %>
<br />
  </div>

<br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
