<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :fname, "First Name" %><br />
    <%= f.text_field :fname %>
  </div>
  <div class="field">
    <%= f.label :lname, "Last Name" %><br />
    <%= f.text_field :lname %>
  </div>
  <div class="field">
    <%= f.label :team_id %> <%= link_to "Create a new team", new_team_url %><br />
    <%= f.collection_select(:team_id, Team.all, :id, :company, :prompt => "Select your Company/Department") %>
  </div>
  <div class="field">
    <%= f.label :isleader, "Are you the Team Leader?" %><br />
    <%= f.check_box :isleader %>
  </div>
  <div class="field">
    <%= f.label :isnewbie, "First Time Biking to Work?" %><br />
    <%= f.check_box :isnewbie %>
  </div>
  <div class="field">
    <%= f.label :email, "Email Address" %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :bikerclass, "Primary Biker Type" %><br />
    <%= f.select(:bikerclass, ['Recreational', 'Commuter', 'Roadie', 'BMX', 'MTB', 'All of the Above'], :prompt => "Select One") %>
  </div>
	<br>
	<div class="field">
	  <%= f.label :btww_email_list, "Would you like to receive tips on How to Bike To Work and info on Pit Stops, Parties, and Winners of Commuter Challenge?" %>
	  <%= f.check_box :btww_email_list %>
	</div>
	<br>
	<div class="field">
	  <%= f.label :general_email_list, "Would you like to receive updates on events and policy efforts of the Active Transportation Alliance as it pertains to the state of cycling in Chicago and Illinois?" %>
	  <%= f.check_box :general_email_list %>
	</div>
<br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
