<h1>Listing users</h1>

<table>
  <tr>
    <th>Fname</th>
    <th>Lname</th>
    <th>Team</th>
    <th>Isleader</th>
    <th>Isadmin</th>
    <th>Isnewbie</th>
    <th>Email</th>
    <th>Bikerclass</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.fname %></td>
    <td><%= user.lname %></td>
    <td><%= user.team_id %></td>
    <td><%= user.isleader %></td>
    <td><%= user.isadmin %></td>
    <td><%= user.isnewbie %></td>
    <td><%= user.email %></td>
    <td><%= user.bikerclass %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>
