<p id="notice"><%= notice %></p>

<p>
  <b>Name</b>
  <%= @user.fname %>  <%= @user.lname %>
</p>

<p>
  <b>Team:</b>
  <%= link_to "#{@user.team.company}", team_url(@user.team.id) %>
	<% if @user.isleader == true %>
		(Team Leader)
	<% else %>
	<% end %>
</p>

<p>
	<% if @user.isleader == true %>
		<b>Newbie!</b>
	<% else %>
	<% end %>
</p>

<p>
  <b>Bikerclass:</b>
  <%= @user.bikerclass %>
</p>

<br>

<p>
  <b><%= @user.fname %>'s Commutes:</b>
</p>
	 
	<table class="table table-striped table-bordered table-condensed">

		<tr>
		<th> Date </th>
		<th> Distance </th>
	 	<th> Ridescore </th>
		</tr>
		<% @user.commutes.each do |commute| %>
			<tr>
			<td> <%= commute.commute_date %> </td>
			<td> <%= commute.distance %> </td>
			<td> <%= commute.ridescore %> </td>
			<td> <%= link_to "View Commute Detail", commute_url(commute.id) %> </td>		
			</tr>
	  	<% end %>
	</table>

<% if logged_in? %>
	<% if is_the_team_leader? ||  get_user == @user %>
	<%= link_to "Add Commute", new_commute_url(:user_id => @user.id) %> |
	<%= link_to 'Edit User', edit_user_path(@user) %>	
	<% end %>	
<% end %>	

