<p id="notice"><%= notice %></p>

<h2><%= @user.full_name %>'s Bike Commuting Stats</h2>
<br>
<p>
  <b>Biker: </b>
  <%= @user.fname %>  <%= @user.lname %>
	<% if get_user == @user  %>
		<% if isadmin?  %>
			<%= link_to '(Edit Profile)', edit_user_path(@user) %>
		<% else %>
			<%= link_to '(Edit Profile)', edit_user_path(@user) %>
		<% end %>

	<% else  %>
		<% if isadmin?  %>
			<%= link_to '(Edit Profile)', edit_user_path(@user) %>
		<% end %>
	<% end  %>
</p>

<% if @user.provider != nil  %>
<p> <%= image_tag("http://graph.facebook.com/#{@user.uid}/picture?type=square", :width => '100') %> </p>
<% end  %>

<p><% if @user.team_id != nil  %>
  <b>Team:</b> <%= link_to "#{@user.team.company}", team_url(@user.team.id) %>
<% else  %>
	<% if logged_in? && get_user.id ==  @user.id %>
		<%= link_to "Add Your Team", edit_user_url(@user.id) %>
	<% end  %>
<% end %>
</p>
<p>
  <b>Primary Biker Type:</b>
  <%= @user.bikerclass %>
</p>

	<% if @user.isnewbie == true %>
<p><strong><%= "#{@user.fname} is a Bike Commuter Newbie!" %></strong></p>
	<% else %>
	<% end %>
</p>
	 
	<table class="table table-striped table-bordered table-condensed">

		<tr>
		<th> Total Logged Commutes </th>
		<th> Total Logged Mileage </th>
	 	<th> Qualifying Commutes (during Commuter Challenge) </th>
	 	<th> Qualifying Mileage </th>
		</tr>

		<tr>
		<td> <%= @user.commutes.count %> </td>
				<% mileage = 0 %>
				<% @user.commutes.each do |commute| %>
				<% mileage = mileage + commute.distance %>
				<% end %>
		<td> <%= mileage %> </td>
		<td> <%= @user.commutes_that_count.count %> </td>
				<% mileage = 0 %>
				<% @user.commutes_that_count.each do |commute| %>
				<% mileage = mileage + commute.distance %>
				<% end %>
			<td> <%= mileage %> </td>
		</tr>

	</table>

	<table>
		<% if logged_in? && @user == get_user %>		
			<td><%= button_to "+ Add a Commute", new_commute_url, :user_id => get_user.id, :method => 'get' %></td>
		<% end %>
		<% if @user.team != nil && @user.team.company_size_range != nil && @user.team.company_size_range != "" %>
			<td><%= button_to "Check the Scoreboard for #{@user.team.company}", award_url(users_scoreboard(@user).id), :method => 'get' %></td>
		<% end %>
	</table>


<div id='fb-share-button'> </div>

<div id='fb-root'></div>
	<i>Share <%= @user.fname %>'s Progress! </i>
    <script src='http://connect.facebook.net/en_US/all.js'></script>
    <p><a onclick='postToFeed(); return false;'> <%= image_tag("facebook_share_button.jpg", :width => '60') %></a>


    <script> 
       FB.init({appId: 204090116364336, status: true, cookie: true});

      function postToFeed() {

        // calling the API ...
        var obj = {
          method: 'feed',
          link: '<%= url_for user_url %>',
          picture: 'http://activetrans.org/htmlemail/ata.png',
          name: 'Bike To Work Week stats for <%= @user.full_name %>!',
          caption: 'Active Transportation Alliance Commuter Challenge',
          description: 'Sign up your company to compete!',
		  message: 'Check out my progress on Bike Commuter Challenge!'
        };

        function callback(response) {
          document.getElementById('msg').innerHTML = "Post ID: " + response['post_id'];
        }

        FB.ui(obj, callback);
      }

    </script>

	<a href="https://twitter.com/share" class="twitter-share-button" data-text="Check out <%= @user.fname %>'s progress on Bike Commuter Challenge!" data-count="none">Tweet</a>
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></p>
	    <p id='msg'></p>


<% if after_btww_start? %>
 	<% if @user.commutes_that_count.count > 0 %>
		<p>
		  <b><%= @user.fname %>'s Commutes During Commuter Challenge (Jun 9 - Jun 15):</b>
		</p>
	 
			<table class="table table-striped table-bordered table-condensed">

				<tr>
				<th> Date </th>
				<th> Distance </th>
			 	<th> Ridescore </th>
				</tr>
				<% @user.commutes_that_count.order('commute_date asc').each do |commute| %>
					<tr>
					<td> <%= commute.commute_date %> </td>
					<td> <%= commute.distance %> </td>
					<td> <%= commute.ridescore %> </td>
					<td> <%= link_to "View Commute Detail", commute_url(commute.id) %> </td>		
					</tr>
			  	<% end %>
			</table>

	<% else %>

		<p>
		  <b><%= @user.fname %> has not yet logged commutes during Commuter Challenge (Jun 9 - Jun 15)</b>
		</p>
	<% end %>
	<% if logged_in? && get_user.team_id != nil %>
		<% if is_the_team_leader? || get_user == @user %>
		<%= button_to "+ Add Commute", new_commute_url(:user_id => @user.id), :method => 'get' %> 
		<% end %>	
	<% elsif logged_in? && get_user == @user %>
		<%= link_to "Choose Your Team to Add a Commute!", edit_user_url(@user.id) %>
	<% else  %>
	<% end %>
<% end %>	
<br>
<p>
  <b>All <%= @user.fname %>'s Logged Commutes:</b>
</p>
	 
	<table class="table table-striped table-bordered table-condensed">

		<tr>
		<th> Date </th>
		<th> Distance </th>
	 	<th> Ridescore </th>
		</tr>
		<% @user.commutes.order('commute_date asc').each do |commute| %>
			<tr>
			<td> <%= commute.commute_date %> </td>
			<td> <%= commute.distance %> </td>
			<td> <%= commute.ridescore %> </td>
			<td> <%= link_to "View Commute Detail", commute_url(commute.id) %> </td>		
			</tr>
	  	<% end %>
	</table>


	<% if logged_in? && get_user.team_id != nil %>
		<% if is_the_team_leader? || get_user == @user %>
		<%= button_to "+ Add Commute", new_commute_url(:user_id => @user.id), :method => 'get' %> 
		<% end %>	
	<% elsif logged_in? && get_user == @user %>
		<%= link_to "Choose Your Team to Add a Commute!", edit_user_url(@user.id) %>
	<% else  %>
	<% end %>	

