<%= form_for(@award) do |f| %>
  <% if @award.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@award.errors.count, "error") %> prohibited this award from being saved:</h2>

      <ul>
      <% @award.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field" id="goal">
    <%= f.label :goal %>
    <%= f.select(:goal, ['Participation Rate', 'Number of Commutes', 'Number of Newbies', 'Total Mileage'],
 				{:prompt => 'Select One'}) %>

  <div class="field" id="team_checkbox">
    <%= f.label :isteam, "Check if this is a Team Award" %>
    <%= f.check_box :isteam %>
  </div>
  <div class="field" id="company_type">
    <%= f.label :company_type %>
    <%= f.select(:company_type, ['Public Agency', 'Business/Non-Profit', 'Bicycle-related Business', 'K-12 School', 'College/University'],
 				{:prompt => 'Select One'}) %>
  </div>
  <div class="field" id="company_size">
    <%= f.label :company_size_range, "Company Size" %>
    <%= f.select(:company_size_range, ['1-4', '5-24', '25-99', '100-499', '500+'],
 				{:prompt => 'Select One'}) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
