<h1>Leaderboards</h1>

<table class="table table-striped table-bordered table-condensed">

  <tr>
    <th>Goal</th>
    <th>Team Award?</th>
    <th>Company type</th>
    <th>Company size range</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @awards.each do |award| %>
  <tr>
    <td><%= award.goal %></td>	
	<% if award.isteam == true %>
	<td> Y </td>		
	<% else %>
	<td>  </td>	
	<% end %>
    <td><%= award.company_type %></td>
    <td><%= award.company_size_range %></td>
    <td><%= link_to 'Show', award %></td>
    <td><%= link_to 'Edit', edit_award_path(award) %></td>
    <td><%= link_to 'Destroy', award, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Award', new_award_path %>
