<h1>Scoreboards</h1>
<br>
<table class="table table-striped table-bordered table-condensed">

  <tr>
    <th></th>
    <th>Company type</th>
    <th>Company size range</th>
    <th># Competing Teams</th>
    <th></th>
  </tr>

<% @awards.each do |award| %>
  <tr>
	<% if award.isteam == true %>
	<td>   </td>		
	<% else %>
	<td> Individual </td>	
	<% end %>
    <td><%= award.company_type %></td>
    <td><%= award.company_size_range %></td>
    <td><%= num_competing_teams(award) %></td>
	<% if num_competing_teams(award) > 0 %>
		<td><%= link_to "Display Scoreboard", award_url(award.id) %></td>
	<% else %>
		<td><%= link_to "+ Add a Team", new_team_url %></td>
	<% end %>
  </tr>
<% end %>
</table>

<br />

<% if logged_in? && isadmin?  %>
<%= link_to 'New Award', new_award_path %>
<% end %>