<h1>Scoreboards!</h1>
<br>
<table class="table table-striped table-bordered table-condensed">

  <tr>
    <th>Company type</th>
    <th>Company size range</th>
    <th></th>
  </tr>

<% @awards.each do |award| %>
  <tr>
    <td><%= award.company_type %></td>
    <td><%= award.company_size_range %></td>
	<% if num_competing_teams(award) > 0 %>
		<td><%= link_to "Team Standings", award_url(award.id) %> <%= "(#{num_competing_teams(award)} Teams)" %></td>
	<% else %>
		<% if !logged_in? %>
		<td><%= link_to "+ Add Your Team", new_user_url %> <%= "(#{num_competing_teams(award)} Teams)" %></td>		
		<% else %>
		<td><%= "(#{num_competing_teams(award)} Teams)" %></td>
		<% end %>
	<% end %>
  </tr>
<% end %>
</table>

<br />

<% if logged_in? && isadmin?  %>
<%= link_to 'New Award', new_award_path %>
<% end %>