<p id="notice"><%= notice %></p>

<% if @award.isteam = true %>
	<h1>Commuter Challenge Team Standings </h1>
	<h3>Category: <%= @award.company_type.upcase %> Organizations with <%= @award.company_size_range %> EMPLOYEES </h3>
	<%= link_to '(Standings for Other Categories)', awards_path, :method => 'get' %>
	<br>
	<br>


	<div id='fb-share-button'> </div>

	<div id='fb-root'></div>
	    <script src='http://connect.facebook.net/en_US/all.js'></script>
	    <p><a onclick='postToFeed(); return false;'> <%= image_tag("facebook_share_button.jpg", :width => '60') %></a>


	    <script> 
	       FB.init({appId: 204090116364336, status: true, cookie: true});

	      function postToFeed() {

	        // calling the API ...
	        var obj = {
	          method: 'feed',
	          link: '<%= url_for award_url %>',
	          picture: 'http://activetrans.org/htmlemail/ata.png',
	          name: 'Check out my company scoreboard for Bike Commuter Challenge!',
	          caption: 'Active Transportation Alliance Commuter Challenge',
	          description: 'Sign up your company to compete!',
			  message: 'Check out my company on the Bike Commuter Challenge Scoreboard'
	        };

	        function callback(response) {
	          document.getElementById('msg').innerHTML = "Post ID: " + response['post_id'];
	        }

	        FB.ui(obj, callback);
	      }

	    </script>

		<a href="https://twitter.com/share" class="twitter-share-button" data-text="Check out Bike Commuter Challenge TEAM STANDINGS!" data-count="none">Tweet</a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></p>
		    <p id='msg'></p>

<br>

<p> 
<b>	Sort Teams By: </b><% @award_list.each do |award| %>
		<% if award.id != @award.id  %>
			<%= link_to "#{award.goal}", award_url(award.id) %> | 
			<% else  %>
			<%= award.goal %> | 
		<% end  %>
	<% end  %>
</p>
<p><i>Note: Bike Commuter Challenge Winners are determined using Participation Rate (Total Commuters / # of Employees) </i></p>



	<br>

		<table class="table table-striped table-bordered table-condensed">
			<tr>
				<th> Team Name </th>
				<th> Current Place </th>			
				<th> Total Participation Rate </th>			
				<th> Total Employees </th>			
				<th> Total Commuters </th>			
				<th> Qualifying Commutes (Logged 6/9-6/15)  </th>		
				<th> Total Mileage </th>			
				<th> Newbies </th>			
				<th> Team Members yet to Log a Qualifying Commute  </th>			
	
			</tr>
		<% if @teams != nil %>
			<% place = 1 %>
			<% @teams.each do |team| %>

				<tr>
				<% if place == 1 && @award.goal == 'Participation Rate' %>
					<td> <b><%= link_to "#{team.company}", team_url(team.id) %> (Current Leader)</b> </td>
					<td> <b><%= place %></b> </td>
					<td> <b><%= team.team_participation %>%</b> </td>
				<% else %>
					<td> <%= link_to "#{team.company}", team_url(team.id) %> </td>
					<td> <%= place %> </td>
					<td> <%= team.team_participation %>% </td>					
				<% end %>										
					<td> <%= team.size %> </td>
					<td> <%= team.commuters %> </td>
					<td> <%= team.commutes_that_count.count %> </td>
					<td> <%= team.mileage %> </td>
					<td> <%= team.newbies %> </td>
					<td> <%= team.zero_commutes %> </td>
				</tr>
					<% place = place + 1 %>
			<% end %>
		<% end %>
		</table>

<%= button_to "+ Add a Team", new_team_url, :method => 'get' %>

<% else %>
	<table class="table table-striped table-bordered table-condensed">
		<tr>
			<th> Commuter Name </th>
			<th> Commutes </th>
			<th> Total Mileage </th>
		</tr>
		<% @users.each do |user| %>
			<tr>
				<td> <%= user.fname %> </td>
				<td> <%= user.commutes.count %> </td>
				<td> <%= user.mileage %> </td>
			</tr>
		<% end %>
	</table>


<% end %>
<br>


<br>
<br>


