<p id="notice"><%= notice %></p>

<% if @award.isteam %>
	<h3>Teams Competing in the Category of: </h3>
	<p>Type: <%= @award.company_type.upcase %> with <%= @award.company_size_range %> Employees</p>
	<p><%= link_to 'Scoreboards for Other Categories', awards_path %></p>
	
<br>

<p> Other Scoreboards in this category: 

	<% @award_list.each do |award| %>
		<% if award.id != @award.id  %>
			<%= link_to "#{award.goal}", award_url(award.id) %> | 
			<% else  %>
			<%= award.goal %> | 
		<% end  %>
	<% end  %>
</p>


	<br>

		<table class="table table-striped table-bordered table-condensed">
			<tr>
				<th> Team Name </th>
				<th> Total Mileage </th>			
				<th> Total Commutes </th>			
				<th> Total Commuters </th>			
				<th> Total Employees </th>			
				<th> Total Participation Rate </th>			
				<th> Newbies </th>			
				<th> Team Members with 0 Commutes  </th>			
			</tr>
			<% @teams.each do |team| %>
				<tr>
					<td> <%= link_to "#{team.company}", team_url(team.id) %> </td>
					<td> <%= team.mileage %> </td>
					<td> <%= team.commutes.count %> </td>
					<td> <%= team.commuters %> </td>
					<td> <%= team.size %> </td>
					<td> <%= team.team_participation %> </td>
					<td> <%= team.newbies %> </td>
					<td> <%= team.zero_commutes %> </td>

				</tr>
			<% end %>
		</table>

<% else %>
	<table class="table table-striped table-bordered table-condensed">
		<tr>
			<th> Commuter Name </th>
			<th> Commutes </th>
			<th> Total Mileage </th>
		</tr>
		<% @users.each do |user| %>
			<tr>
				<td> <%= user.fname %> </td>
				<td> <%= user.commutes.count %> </td>
				<td> <%= user.mileage %> </td>
			</tr>
		<% end %>
	</table>


<% end %>

<br>
<br>


