<p id="notice"><%= notice %></p>

<% if @award.isindividual %>
	<h2> <%= @award.name %> </h2>

	<table>
		<tr>
			<th> Commuter Name </th>
		</tr>
		<% @users.each do |user| %>
			<tr>
				<td> <%= user.fname %> </td>
			</tr>
		<% end %>
	</table>


<% else %>


	<h2> Teams Competing for <%= @award.name %> </h2>
	<h3>"<%= @award.company_type %> - <%= @award.company_size_range %>" Category</h3>

<br>

	<table>
		<tr>
			<th> Team Name </th>
		</tr>
		<% @teams.each do |team| %>
			<tr>
				<td> <%= team.company %> </td>
			</tr>
		<% end %>
	</table>


<% end %>

<br>
<br>

<%= link_to 'All Leaderboards', awards_path %>
