<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @award.name %>
</p>

<p>
  <b>Isindividual:</b>
	<% if @award.isindividual == true %>
	<td> Y </td>		
	<% else %>
	<td>  </td>	
	<% end %>	
</p>

<p>
  <b>Isteam:</b>
  <%= @award.isteam %>
</p>

<p>
  <b>Company type:</b>
  <%= @award.company_type %>
</p>

<p>
  <b>Company size range:</b>
  <%= @award.company_size_range %>
</p>

<table>
	<tr>
		<th> Team Name </th>
	</tr>
	<%= @teams.each do |team| %>
		<tr>
			<td> <%= team.company %> </td>
		</tr>
	<% end %>
</table>

<%= link_to 'Edit', edit_award_path(@award) %> |
<%= link_to 'Back', awards_path %>
