<%= form_for(@commute) do |f| %>
  <% if @commute.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@commute.errors.count, "error") %> prohibited this commute from being saved:</h2>

      <ul>
      <% @commute.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.hidden_field :user_id %>
  </div>

  <div class="field">
    <%= f.label :commute_date, "Commute Date: (The date you biked at least part of your commute)" %>

    <%= f.text_field :commute_date %>
  </div> <br />
  <div class="field">
    <%= f.label :distance, "Distance in Miles: Add up all mileage TO and FROM work" %>
    <%= f.text_field :distance %>
  </div> <br />
  <div class="field">
    <%= f.label :ridescore, "How did you feel?" %>
    <%= f.select(:ridescore, ['Fan-freakin-tastic!', 'Hella Good', 'Meh', "Hurtin'", 'Abysmal'],
 				:prompt => "Select One") %>
  </div> <br />
  <div class="field">
    <%= f.label :comments, "Your Comments: (e.g. road/traffic conditions, weather, route)" %>
    <%= f.text_area :comments, :size => "50x5" %>
  </div> <br />
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
