<%= form_for(@commute) do |f| %>
  <% if @commute.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@commute.errors.count, "error") %> prohibited this commute from being saved:</h2>

      <ul>
      <% @commute.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.hidden_field :user_id %>
  </div>

  <div class="field">
    <%= f.label :commute_date %>
    <%= f.text_field :commute_date %>
  </div>
  <div class="field">
    <%= f.label :departure_address, "Departure Address (full address for map)" %>
    <%= f.text_field :departure_address %>
  </div>
  <div class="field">
    <%= f.label :arrival_address, "Arrival Address (full address for map)" %>
    <%= f.text_field :arrival_address %>
  </div>
  <div class="field">
    <%= f.label :distance, "Distance in Miles" %>
    <%= f.text_field :distance %>
  </div>
  <div class="field">
    <%= f.label :ridescore, "How did you feel?" %>
    <%= f.select(:ridescore, ['Fan-freakin-tastic!', 'Hella Good', 'Meh', "Hurtin'", 'Abysmal'],
 				:prompt => "Select One") %>
  </div>
  <div class="field">
    <%= f.label :comments %>
    <%= f.text_area :comments, :size => "50x5" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
