<h1>Commutes</h1>

<table>
  <tr>
    <th>User</th>
    <th>Commute date</th>
    <th>Sequence</th>
    <th>Departure address</th>
    <th>Arrival address</th>
    <th>Distance</th>
    <th>Ridescore</th>
    <th>Comments</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @commutes.each do |commute| %>
  <tr>
    <td><%= commute.user_id %></td>
    <td><%= commute.commute_date %></td>
    <td><%= commute.sequence %></td>
    <td><%= commute.departure_address %></td>
    <td><%= commute.arrival_address %></td>
    <td><%= commute.mileage%></td>
    <td><%= commute.ridescore %></td>
    <td><%= commute.comments %></td>
    <td><%= link_to 'Show', commute %></td>
    <td><%= link_to 'Edit', edit_commute_path(commute) %></td>
    <td><%= link_to 'Destroy', commute, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Commute', new_commute_path %>
