<h1>Commutes</h1>

<table>
  <tr>
    <th>Commuter</th>
    <th>Date</th>
    <th>Distance</th>
    <th>Ridescore</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @commutes.each do |commute| %>
  <tr>
    <td><%= User.find_by_id(commute.user_id).fname %> <%= User.find_by_id(commute.user_id).lname %></td>
    <td><%= commute.commute_date %></td>
    <td><%= commute.mileage%></td>
    <td><%= commute.ridescore %></td>
    <td><%= link_to 'Show Commute', commute %></td>
  </tr>
<% end %>
</table>

<br />

<% if logged_in? %>
<%= link_to 'New Commute', new_commute_url(:user_id => get_user.id) %>
<% end %>