<p id="notice"><%= notice %></p>
<div id='fb-share-button'>
<div id='fb-root'></div>
    <script src='http://connect.facebook.net/en_US/all.js'></script>
    <p><a onclick='postToFeed(); return false;'> <%= image_tag("facebook_share_button.jpg", :width => '100') %></a></p>
    <p id='msg'></p>

    <script> 
      FB.init({appId: "299340683464316", status: true, cookie: true});

      function postToFeed() {

        // calling the API ...
        var obj = {
          method: 'feed',
          link: '<%= url_for commute_url %>',
          picture: 'http://www.cyclingnews.com/photos/2006/jul06/qinghai06/qinghai066/17.jpg',
          name: 'Bike2WorkWeek',
          caption: 'Weeklong bike-related awesomeness',
          description: 'Join Us!',
		  message: 'I just biked to work today for Bike2WorkWeek!'
        };

        function callback(response) {
          document.getElementById('msg').innerHTML = "Post ID: " + response['post_id'];
        }

        FB.ui(obj, callback);
      }
    
    </script>
</div>
<p>
  <b>User:</b>
  <%= @commute.user_id %>
</p>

<p>
  <b>Commute date:</b>
  <%= @commute.commute_date %>
</p>

<p>
  <b>Sequence:</b>
  <%= @commute.sequence %>
</p>

<p>
  <b>Departure address:</b>
  <%= @commute.departure_address %>
</p>

<p>
  <b>Arrival address:</b>
  <%= @commute.arrival_address %>
</p>

<p>
  <b>Distance:</b>
  <%= @commute.mileage %>
</p>

<p>
  <b>Ridescore:</b>
  <%= @commute.ridescore %>
</p>

<p>
  <b>Comments:</b>
  <%= @commute.comments %>
</p>


<%= link_to 'Edit', edit_commute_path(@commute) %> |
<%= link_to 'Back', commutes_path %>
