<p id="notice"><%= notice %></p>



<p>
  <b>Biker:</b>
  <%= link_to "#{User.find_by_id(@commute.user_id).full_name}", user_url(User.find_by_id(@commute.user_id)) %>
</p>

<p>
  <b>Commute Date:</b>
  <%= @commute.commute_date.strftime("%A %B %d, %Y") %>
</p>

<p>
  <b>Distance:</b>
  <%= @commute.mileage %>
</p>

<p>
  <b>Ridescore:</b>
  <%= @commute.ridescore %>
</p>

<p>
  <b>Comments:</b>
  <%= @commute.comments %>
</p>


<div id='fb-share-button'> </div>

<div id='fb-root'></div>
    <script src='http://connect.facebook.net/en_US/all.js'></script>
    <p><a onclick='postToFeed(); return false;'> <%= image_tag("facebook_share_button.jpg", :width => '60') %></a>


    <script> 
       FB.init({appId: 204090116364336, status: true, cookie: true});

      function postToFeed() {

        // calling the API ...
        var obj = {
          method: 'feed',
          link: '<%= url_for commute_url %>',
          picture: 'http://www.cyclingnews.com/photos/2006/jul06/qinghai06/qinghai066/17.jpg',
          name: '<%= @commute.user.fname  %> just logged <%= @commute.distance %> miles for Bike To Work Week!',
          caption: 'Active Transportation Alliance Commuter Challenge',
          description: 'Sign up your company to compete!',
		  message: 'I just biked to work today for Bike2WorkWeek!'
        };

        function callback(response) {
          document.getElementById('msg').innerHTML = "Post ID: " + response['post_id'];
        }

        FB.ui(obj, callback);
      }
    
    </script>

	<a href="https://twitter.com/share" class="twitter-share-button" data-text="I just logged my commute for Bike To Work Week!" data-count="none">Tweet</a>
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></p>
	    <p id='msg'></p>
<br>

<% if logged_in? && get_user.id == @commute.user_id %>
<%= link_to 'Edit', edit_commute_path(@commute) %> |
<%= link_to 'Delete', commute_url(@commute), confirm: 'Are you sure?', method: :delete %> |
<%= link_to '+ Add A Commute', new_commute_url %>
<% end %>
<br>
<br>
<%= link_to "All #{@commute.user.fname}'s Commutes", user_url(@commute.user_id) %> | 
<%= link_to 'All Commutes', commutes_path %>
