<h1> Bike Commuter Challenge Reports</h1>

<p> This page is available to administrator users only.</p>
<br>
<b>Number of Teams: <%= @team_count %></b>
<br>
<br>
<b>Teams by Company Type</b>
<br>
Public Agency: <%= @public_count %>
<br>
Business/Non-Profit: <%= @busnp_count %>
<br>
Bicycle-related Business: <%= @bike_count %>
<br>
K-12 School: <%= @k12_count %>
<br>
College/University: <%= @college_count %>
<br>
<br>
<b>Number of Users: <%= @user_count %></b>
<br>
<b>Bike to Work Newbies: <%= @newbies_count %></b>
<br>
<br>
<b>Users by self-described "Primary Biker Type"</b>
<br>
Recreational: <%= @rec_count %>
<br>
Transportation/Commuter: <%= @transpo_count %>
<br>
Roadies: <%= @roadies_count %>
<br>
Mountain Bike / Cross Riders: <%= @mtb_count %>
<br>
BMX Riders: <%= @bmx_count %>
<br>
<br>
<b>Number of Commutes: <%= @commute_count %></b>
<br>
<b>"Qualifying" Commuter Challenge Commutes: <%= @bcc_commute_count %></b>
<br>
Jun 9 (Saturday) Commutes: <%= @bcc_sat_commute_count %>
<br>
Jun 10 (Sunday) Commutes: <%= @bcc_sun_commute_count %>
<br>
Jun 11 (Monday) Commutes: <%= @bcc_mon_commute_count %>
<br>
Jun 12 (Tuesday) Commutes: <%= @bcc_tue_commute_count %>
<br>
Jun 13 (Wednesday) Commutes: <%= @bcc_wed_commute_count %>
<br>
Jun 14 (Thursday) Commutes: <%= @bcc_thu_commute_count %>
<br>
Jun 15 (Friday) Commutes: <%= @bcc_fri_commute_count %>
<br>
<br>
<b>Commutes by how the rider felt:</b>
<br>
"Fan-freakin-tastic": <%= @bcc_fantastic_commute_count %>
<br>
"Hella Good": <%= @bcc_good_commute_count %>
<br>
"Meh": <%= @bcc_meh_commute_count %>
<br>
"Hurtin'": <%= @bcc_hurtin_commute_count %>
<br>
"Abysmal": <%= @bcc_abysmal_commute_count %>
<br>
<br>

<table>
<tr>
<td><%= button_to "Teams Report", teamsreport_url, :method => 'get' %></td>
<td><%= button_to "Users Report", usersreport_url, :method => 'get' %></td>
</tr>
</table>