<h1> Teams Report </h1>

<table id="report">
  <tr>
    <th>Company</th>
    <th>Company type</th>
    <th>Size</th>
    <th>Size Range</th>
    <th>Leader First Name</th>
    <th>Leader Last Name</th>
    <th>Leader Email</th>
    <th>Shirt</th>
    <th>Address Line 1</th>
    <th>Address Line 2</th>
    <th>City</th>
    <th>State</th>
    <th>ZIP</th>
    <th>Phone</th>
    <th>Twitter</th>
    <th>Website</th>
    <th>Team Created</th>
    <th>Team Updated</th>
    <th>Company Size</th>
    <th>Members who Logged at least 1 Commute during BTTW</th>
    <th>Team Participation Rate</th>
    <th>Team Commutes</th>
    <th>Team Mileage</th>
    <th>Team Members with 0 Commutes</th>
    <th>Team Page</th>


  </tr>

<% @teams.each do |team| %>
  <tr>
    <td><%= team.company %></td>
    <td><%= team.company_type %></td>
    <td><%= team.size %></td>
    <td><%= team.company_size_range %></td>
    <td><%= "#{User.find(team.leader).fname}" %></td>
    <td><%= "#{User.find(team.leader).lname}" %></td>
    <td><%= "#{User.find(team.leader).email}" %></td>
    <td><%= team.shirt_size %></td>
    <td><%= team.address_line_1 %></td>
    <td><%= team.address_line_2 %></td>
    <td><%= team.city %></td>
    <td><%= team.state %></td>
    <td><%= team.zip %></td>
    <td><%= team.phone %></td>
    <td><%= team.twitter_handle %></td>
    <td><%= team.website %></td>
    <td><%= team.created_at %></td>
    <td><%= team.updated_at %></td>
    <td><%= team.size %></td>
    <td><%= team.commuters %></td>
    <td><%= team.team_participation %></td>
    <td><%= team.total_commutes %></td>
    <td><%= team.mileage %></td>
    <td><%= team.zero_commutes %></td>
    <td><%= link_to "#{team.company}", team_url(team) %></td>

  </tr>
<% end %>
</table>

<!-- <input value="Export as CSV" type="button" onclick="$('#report').table2CSV(separator : '/t')"> -->

<%= link_to 'Download Report as CSV', csvfile_path(:format => :csv) %>